{% extends 'base.html.twig' %}

{% block title %}Blog List{% endblock %}

{% block body %}
<h1>Here's our blogs</h1>

<h2>Welcome 
    {% if app.user.role is same as('ROLE_USER') %}
    User
    {% endif %}
    
    {% if app.user.role is same as('ROLE_ADMIN') %}
    Admin
    {% endif %}
</h2>

{% for user in userList %}

<a href="{{ path('one_blog', {id:user.id}) }}" class="btn btn-primary">{{user.username}}</a>

{% endfor %}

{% endblock %}
