{% extends "base.html.twig" %}

{% block body %}

{% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<form action="{{ path('login') }}" method="POST">
    <label for="username">Username :</label>
    <input type="text" name="_username" id="username" value="{{username}}">
    <label for="password">Password :</label>
    <input type="password" name="_password" id="password">
    <button>Login</button>
</form>

{% endblock body %}